/*current palate*/

/*#D6EAE8 super light
#88CDCC dark greenish blue
#A3E1CC seafoam
#78ABD6 blue
#7ACCB1 green
#57A7A5 dark green*/

.ReactModal__Content.ReactModal__Content--after-open {
	overflow: hidden;
	margin-top: 15em;
	margin-bottom: 15em;
	margin-left: 25em;
	margin-right: 25em;
}

.hideNav {
	background: powderBlue;
}

#bio {
	margin-bottom: 6em;
}

#tech {
	margin: 0 auto;
}

#closeButton {
	padding-left: 100em;
}
#contacts {
	margin-top: 6em;
	margin-bottom: 150px;
}

.nav-wrap {
	margin-top: 2em;
	margin-bottom: 1.5em;
	font-size: 1.2em;
}
